/* Global styles */
.root {
    -fx-font-family: "Segue UI";
    -fx-font-size: 14px;
    -fx-background: #333333;
    -fx-text-base-color: #cccccc;
}

/* Button styling */
.button {
    -fx-background-color: #5C6BC0;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #3F51B5;
}

/* Label styling */
.label {
    -fx-font-size: 12px;
}
/* ListView styling */
/*.list-view {
    -fx-background-color: #ffd60a;
    -fx-border-color: #ffc300;
    -fx-border-width: 1px;
}*/

.list-view {
    -fx-border-width: 1px;
}

.quadrant1 {
    -fx-background-color: #c9c9c9;
}

.quadrant2 {
    -fx-background-color: #c9c9c9;
}

.quadrant3 {
 -fx-background-color: #c9c9c9;
}

.quadrant4 {
-fx-background-color: #c9c9c9;
}
